.policies-container {
  padding: 20px;
  margin-top: 20px;
}

.back-button-vp {
  background-color: #37ab46;
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 20px;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 30px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.dropdown {
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.search-button {
  background-color: #37ab46;
  color: white;
  padding: 8px 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.policies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.policy-card {
  width: 280px;
  border: 1px solid #ccc;
  border-left: 6px solid #37ab46;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.no-data {
  text-align: center;
  color: gray;
  font-style: italic;
}
