.edit-proposals-container {
  padding: 20px;
  margin-top: 20px;
}

.back-button-ep {
  background-color: #37ab46;
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 20px;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.proposals-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.proposal-card {
  width: 280px;
  border: 1px solid #ccc;
  border-left: 6px solid #37ab46;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.dropdown {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.update-button {
  width: 100%;
  background-color: #37ab46;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
